<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors For</title>
    <link rel="stylesheet" href="doctor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="main">
        <nav>
            <img href="/" src="logo.png" alt="Health Care" height="100px" width="100px" class="logo" >
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            <!-- <img src="moon.png" alt="Theme" id="icon"> -->
        </nav>
        <div class="dr_for">
            <h1>Doctors For</h1>
        </div>
        <div class="main-container">
            <a href="doctorspage/doc.html">
                <div class="bone container-item">
                    <img src="bone.png" class="bone-img" alt="">
                    <h2>Orthopedician </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci possimus aut incidunt error dolore placeat.</p>
                </div>
            </a>
            <a href="doctorspage/doc.html">
                <div class="child container-item">
                    <img src="child.png" class="child-img" alt="">
                    <h2>Child Specialists</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci possimus aut incidunt error dolore placeat.</p>
                </div>
            </a>
            <a href="doctorspage/doc.html">
                <div class="dental container-item">
                    <img src="dental.png" class="dental-img" alt="">
                    <h2>Dental Specialists</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci possimus aut incidunt error dolore placeat.</p>
                </div>
            </a>
            <a href="doctorspage/doc.html">
                <div class="heart container-item">
                    <img src="heart1.png" class="heart-img" alt="">
                    <h2>Cardiologist</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci possimus aut incidunt error dolore placeat.</p>
                </div>
            </a>
        </div>
        <div class="social-media">
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>

</body>
</html>