<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="srevices.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="main">
        <nav>
            <img href="/index.html" src="logo.png" alt="Health Care" height="100px" width="100px" class="logo" >
            <ul>
                <!-- <div class="dropdown">
                    <button class="dropbtn">Your City
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">City 1</a>
                      <a href="#">City 2</a>
                      <a href="#">City 3</a>
                    </div>
                </div> -->
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <!-- <img src="moon.png" alt="Theme" id="icon"> -->
            </ul>
        </nav>
        <div class="services">
            <a href="/services/doctor">
                <div id="item1" class="service_box">
                <img src="doctor.png" alt="">
                    <div class="content">
                        <h2>Doctors</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, tenetur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, quia.</p>
                    </div>
                 </div>
             </a>
             <a href="/services/medicine">
                <div id="item2" class="service_box">
                <img src="medicine.png" alt="">
                    <div class="content">
                        <h2>Medicines</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aspernatur omnis asperiores et beatae, repellendus vero voluptates quis minima iste.</p>
                    </div>
                </div>
            </a>
            <a href="/services/ambulance">
                <div id="item3" class="service_box">
                <img src="ambulance.png" alt="">
                    <div class="content">
                        <h2>Ambulance</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa repudiandae, a earum sunt dolor quis voluptatum. Veniam id dolores commodi.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="social-media">
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
    <!-- <script>
        var icon = document.getElementById("icon");

        icon.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme"))
            {
                icon.src = "sun.png";
            }else{
                icon.src = "moon.png";
            }
        }
   </script> -->
</body>
</html>